.input {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ajusta a largura total do container */
}

.inputInput {
    padding: 10px;
    padding-left: 10px; /* Mantém o placeholder colado à esquerda */
    padding-right: 60px;
    width: 100%; /* Ajusta o input para ocupar toda a largura disponível */
    max-width: 500px; /* Define um limite máximo opcional */
    font-size: 11px; /* Ajuste do tamanho da fonte para melhorar a aparência */
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
}

.inputLabel {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5px; /* Espaço entre o label e o input */
}

.inputObrigatorio {
    font-size: x-small;
    color: red;
    margin-top: 5px; /* Espaço entre o input e o texto */
}

.inputOpcional {
    font-size: x-small;
    color: #8d8d8d;
    margin-top: 5px;
}
