/* Define o estilo básico do footer */
.footer {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    width: 100%;
    padding: 60px 0px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-evenly;
    align-items: center;
}

.footerNavigation {
    margin-top: 10px;
}

.footerNavigation a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.FooterCopyRigth p {
    margin: 0;
    font-size: 14px;
}
