.carrosselCards {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding: 20px 0px;
}

.carrosselButtons {
  display: flex;
  gap: 10px;
  position: sticky;
}

.carrosselButton {
  background-color: #000000;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}

.carrosselButton.prev {
  left: 0;
}

.carrosselButton.next {
  right: 0;
}

.carrosselContent {
  width: 100%;
  display: flex;
  justify-content: center;
}
