.contactNumbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 60px 100px;
    border: 0.5px solid #f8f8f8;
}

.contactNumbersText {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.contactNumbersTextImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.contactNumbersButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}

.callButton {
    text-decoration: none;
    color: #000;
    padding: 12px 100px;
    background-color: none;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.textButton {
    text-decoration: none;
    color: #fff;
    padding: 12px 100px;
    background-color: black; /* Define o fundo como preto */
    border: 1px solid #fff;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.contactAsks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 100px;
}

.formButton {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    padding: 12px 100px;
    background-color: none;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    background-color: #000;
}