@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%; /* Faz o body ocupar toda a altura da tela */
  display: flex;
  flex-direction: column; /* Flexbox para organizar o conteúdo */
}

#root {
  flex-grow: 1; /* Faz o conteúdo da página crescer e ocupar o espaço disponível */
}
